# Dependancies and Dist
#Config Files
#logs
*-debug.log
*-error.log
*.iml
*.log
./travel-plan.js
.DS_Store
.cache
.idea/
.vscode
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
dist
node_modules
user-data
